.container {
    display: flex;
    flex-direction: column;
    padding: 20px 40px;
    min-width: 800px;
}


.containerLoading {
    filter: blur(8px);
}



@media (max-width: 600px) {
    .container{
        min-width: auto;
    }
}

#root {
    width: 100%;
}

.filter-cart-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.no-results {
    text-align: center;
    font-size: 1.5rem;
    color: #888;
    margin-top: 20px;
}

.filter-form {
    flex-grow: 1;
    margin-left: 40px;
}

.cart-icon {
    position: relative;
    cursor: pointer;
    margin-left: 20px;
    margin-right: 40px;
}

.draft-count-badge {
    position: absolute;
    top: -5px;
    right: -10px;
}


/* Стили для спиннера и блюра */
.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);  /* Белый фон с прозрачностью */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1050;  /* Высокий z-index, чтобы перекрыть все остальные элементы */
  }
  
  .loading-overlay .spinner-border {
    width: 3rem;
    height: 3rem;
  }
  
  .elements-page {
    position: relative;
  }
  
  .filter-cart-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .cart-icon {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  .draft-count-badge {
    margin-left: 8px;
  }
  