/* Установить фиксированный размер для изображений в карусели */
.carousel-image {
	width: 100%; /* Ширина на всю доступную область */
	max-height: 375px; /* Фиксированная высота (можно изменить по желанию) */
	object-fit: cover; /* Масштабирует изображение, сохраняя пропорции и обрезая лишнее */
  }
  
  /* Обводка текста в карусели */
.carousel-caption h3 {
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8); /* Чёрная тень с лёгким размытием */
	color: #ffffff; /* Белый цвет текста */
	font-weight: bold; /* Полужирный текст */
  }
  